html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: black;
    scroll-snap-type: y mandatory;

}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*----- Home Page -----*/

.home-page {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.image-of-the-day {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.image-of-the-day img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.header {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: row;
    justify-content: flex-end;

}

.header button {
    margin-right: 1em;
    color: white;
    font-family: 'Amethysta', serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.home-page-title {
    position: absolute;
    top: 70%;
    right: 10%;
}

.home-page-title h1 {
    color: white;
    right: 0;
    margin: 1rem;
    font-family: 'Amethysta', serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/*----- About -----*/

.about {
    display: flex;
    flex-direction: column;
    margin: 0% auto 0 auto;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;

}

.about p {
    color: white;
    font-family: 'Amethysta', serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.5rem;
}

.about h1 {
    color: white;
    font-family: 'Amethysta', serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 1rem;
    /*margin-top: 10rem;*/
    font-size: 3rem;
}


/*----- Asteroid Of The Day -----*/

.container {
    display: flex;
    flex-direction: column;
}

.asteroids-today {

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    min-height: auto;
    height: 100vh;
    scroll-snap-align: start;
    padding-bottom: 5rem 0;

}

.asteroids-today-title {
    color: white;
    font-family: 'Amethysta', serif;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 2rem;
    /*margin-top: 5rem;*/
    display: flex;
    gap: 3rem;
    text-align: center;
}

.informative-table {
    display: flex;
    flex-wrap: wrap;
    width: 62%;
    align-items: center;
    justify-content: space-around;
    max-height: 400px;
}

.informative-table .box {
    display: inline-block;
    padding: 1em;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 2rem;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.graph {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    z-index: 1;
}

.graph label,
.graph select {
    margin-bottom: 10px;
    text-align: center;
}

.graph label {
    color: white;
}

/*----- Compare Asteroids-----*/

.comparison {
    /*
    position: relative;
    z-index: 10;
    text-align: center;
    /*--margin-top: 6rem;
    height: auto;
    min-height: 100vh;
    scroll-snap-align: start;
    */
    min-height: auto;
    /* Remove 100vh */
    height: 100vh;
    padding: 5rem 0;
    scroll-snap-align: start;
    text-align: center;



}

.comparison-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.comparison h1 {
    color: white;
    margin-bottom: 100px;
    font-family: 'Amethysta', serif;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 2rem;

}

.comparison-area img {
    width: 40%;
    height: auto;
    object-fit: contain;
    transition: width 0.5s ease, height 0.5s ease;
}


.asteroid {
    background-color: gray;
    border-radius: 50%;
    flex-shrink: 0;
    transition: width 0.5s ease, height 0.5s ease;
}

.no-break {
    white-space: nowrap;
}

.foot{
    display: flex;
    position: fixed;
    bottom: 0;
    margin-top: 5rem;
    height: 4rem;
    position: relative;
    margin-top: 15rem;
    /*background-color: rgb(62, 62, 194); */
    background-color: darkgray;
    align-items: center;
}

.foot h1{
    display: inline-block;
    color: black;
    margin-left: 2rem;
    margin-right: 50rem;
}

.foot a{
    text-decoration: none;
}

.foot i{
    font-size: 40px;
    color: black;
    margin-right: 1rem;
}

.links{
    margin-right: 0rem;
    align-items: end;
}

.autoBlur {
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}



@keyframes autoBlurAnimation {
    0% {
        filter: blur(40px);
    }

    20%,
    80% {
        filter: blur(0);
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        filter: blur(40px);
        transform: translateY(-20px);
        opacity: 0;
    }
}

#about.autoBlur {
    animation-timeline: view(10% 45%);
}


.autoTakeFull {
    animation: autoTakeFullAnimation both;
    animation-timeline: view(100% 10%);
}

@keyframes autoTakeFullAnimation {
    to {
        width: 100%;
        height: 100vh;
        margin-bottom: 100px;
        border-radius: 0;
    }
}


@media (max-width: 900px) {

    .comparison {
        margin-top: 20rem;
    }

    .informative-table {
        justify-content: space-around;
    }

}



@media (min-width: 900px) and (max-width: 1000px) {

   
    .comparison {
        margin-top: 15rem;
    }

    .comparison h1{
        margin-bottom: 5rem;
    }

    .comparison-area img{
        width: 70%;
        margin-top: 5rem;
    }


    .autoTakeFull {
        animation: autoTakeFullAnimation both;
        animation-timeline: view(80% 10%);
    }
     
}